<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            You have a new comment on the order № {{{orderNumber}}}
        </td>
    </tr>
    <tr>
        <td>
            <p style="margin: 17px 0 0;">
                Location: {{{address}}}
            </p>
            <p style="margin: 17px 0 0;">
                New comment: {{{description}}}
            </p>
        </td>
    </tr>
</table>