table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #a6a6a6;
    text-align: left;
    padding: 8px;
}

.cs{
    color: lawngreen;
}